# roles/video_storage/tasks/config.yml

- name: Configure NFS exports
  become: true
  ansible.builtin.template:
    src: exports.j2
    dest: /etc/exports
    owner: root
    group: root
    mode: '0644'
  notify: Restart NFS

